*{
    box-sizing: border-box;
}

body{
    background-color: #DBEAFE;
    border: 1px dashed #2563EB;
    margin: 0;
}

/** common styles **/

.text--c-persian-blue{
    color: #1D4ED8;
}

.text--c-royal-blue{
    color: #2563EB;
}

.bg--pattens-blue{
    background-color: #DBEAFE;
}

.bg--french-pass{
    background-color: #BFDBFE;
}

.bg--zumthor{
    background-color: #EFF6FF;
}

/*styles*/

.container{
    margin: 0 auto;
    max-width: 1140px;
    width: calc(100% - 150px);
}

.header{
    border-bottom: 1px dashed #2563EB;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.navigation__list{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.content-section{
    border-bottom: 1px dashed #2563EB;
    position: relative;
}

.first-section{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.first-section__heading{
    font-size: 30px;
    margin-bottom: 0;
}

.first-section__div{
    flex: 0 0 50%;
}

.first-section__div--graphics{
    border: 1px solid #808080;
    height: 24rem;
    min-width: 50%;
    position: absolute;
    right: 0;
    z-index: 1;
}

.first-section__button-list{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-bottom: 5rem;
    padding: 0;
}

.first-section__btn{
    border: 1px dashed #1D4ED8;
    border-radius: 10px;
    padding: 1em 2em;
}

.first-section__brand-list{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.first-section__stars{
    height: 15rem;
    max-width: fit-content;
    padding: 4px;
}

.first-section__stars svg{
    height: 100%;
    width: 100%;
}

.first-section__second{
    flex: 0 0 46%;
    height: 25rem;
    position: relative;
}

.first-section__overflow-div{
    align-items: center;
    border: 1px dashed #1D4ED8;
    display: flex;
    height: 25rem;
    justify-content: center;
    margin-top: 2em;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.footer{
    height: 4rem;
}